{% extends 'base_auth.html' %}

{% block auth_title %}Lien envoyé{% endblock %}

{% block auth_content %}
    <h2>Lien envoyé</h2>
    <p class="auth-subtitle">
        Si un compte est associé à cette adresse email, un lien de réinitialisation vient d’être envoyé.<br>
        Vérifiez votre boîte de réception et vos spams.
    </p>

    <a href="{% url 'login' %}" class="auth-button" style="display:flex; align-items:center; justify-content:center; text-decoration:none;">
        Retour à la connexion
    </a>
{% endblock %}